*{
    margin: 0;
    padding: 0;
}
body{
    background: #0D0A0B;
    color: white;
}
header{
    height: 15vh;
    width: 100%;
    text-align: center;
}
.playground{
    height: 70vh;
    display: grid;
    grid-template-columns: 3, 1fr;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #454955;
    font-size: 10vmin;
}
#reset{
    width: 60vmin;
    height: 5vmin;
    border-radius: 1rem;
    border: none;
}
